doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 퍼그 사용해보기
    body 
    // 주석 달아보기
    h1(class='red', id='title') Hello
    a(href='https://pugjs.org/api/getting-started.html') pug 주소!